{% extends 'base/base_dashboard.html' %}
{% block title %}Excluir Colaborador{% endblock %}

{% block content %}
<div class="container my-4">
  <h4 class="text-danger">Confirmação de Exclusão</h4>
  <p>Tem certeza que deseja excluir o colaborador <strong>{{ colaborador.nome }}</strong> ({{ colaborador.matricula }})?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sim, excluir</button>
    <a href="{% url 'listar_colaboradores' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
